@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-black-25: #00000040;
  --color-black-40: #00000066;
  --color-black-50: #00000080;
  --color-black-soft: #101010;
  --color-black-hover: #4c4c4c;
  --color-grey-light: #f1f1f1;
  --color-grey-lighter: #fafafa;
  --color-orange: #d87d4a;
  --color-orange-light: #fbaf85;
  --color-white: #ffffff;
  --color-white-50: #ffffff80;
  --color-white-75: #ffffffbf;
  --color-wrong-red: #cd2c2c;

  --text-xxs: 0.75rem;
  --text-xs: 0.8125rem;
  --text-sm: 0.875rem;
  --text-md: 0.9375rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3.5rem;

  --tracking-2: 0.125rem;
  --tracking-1-5: 0.09375rem;
  --tracking-1-43: 0.0894rem;
  --tracking-1-29: 0.0806rem;
  --tracking-1-15: 0.071875rem;
  --tracking-1-14: 0.0712rem;
  --tracking-1-7: 0.10625rem;
  --tracking-1-3: 0.08125rem;
  --tracking-1-07: 0.0669rem;
  --tracking-10: 0.625rem;
  --tracking-8-57: 0.5356rem;
  --tracking-1: 0.0625rem;
  --tracking-0-93: 0.0581rem;
  --tracking-0-86: 0.0537rem;
  --tracking-1-71: 0.1069rem;
  --tracking--0-21: -0.0131rem;
  --tracking--0-25: -0.0156rem;

  --leading-58: 3.625rem;
  --leading-56: 3.5rem;
  --leading-44: 2.75rem;
  --leading-40: 2.5rem;
  --leading-38: 2.375rem;
  --leading-36: 2.25rem;
  --leading-33: 2.0625rem;
  --leading-32: 2rem;
  --leading-28: 1.75rem;
  --leading-25: 1.5625rem;
  --leading-24: 1.5rem;
  --leading-20: 1.25rem;
  --leading-19: 1.1875rem;
  --leading-18: 1.125rem;
  --leading-16: 1rem;

  --breakpoint-lg: 69.375rem;
}

@layer base {
  body {
    @apply bg-grey-lighter;
  }

  /* Oranžový hover pre navigačné odkazy */
  nav ul li a,
  footer a,
  header svg {
    @apply hover:text-orange cursor-pointer text-white transition-colors duration-150 ease-out;
  }

  /* In the box zoznam */

  li:last-child {
    @apply pb-0;
  }

  li span {
    @apply text-orange pr-6 font-bold lg:w-4;
  }
  li {
    @apply text-md text-black-50 pb-2 leading-25 font-medium;
  }
}

@layer components {
  .button-primary--orange {
    @apply bg-orange tracking-1 hover:bg-orange-light block w-fit cursor-pointer px-[30.5px] py-[15px] text-xs leading-18 font-bold text-white uppercase transition-colors duration-200 ease-out;
  }
  .button-primary--black {
    @apply tracking-1 hover:bg-black-hover block w-fit cursor-pointer bg-black px-[30.5px] py-[15px] text-xs leading-18 font-bold text-white uppercase transition-colors duration-200 ease-out;
  }
  .button-outline {
    @apply tracking-1 block w-fit cursor-pointer border border-black bg-transparent px-[29.5px] py-[14px] text-xs leading-18 font-bold text-black uppercase transition-colors duration-200 ease-out hover:bg-black hover:text-white;
  }
  .button-text {
    @apply tracking-1 text-black-50 hover:text-orange block w-fit cursor-pointer text-xs leading-18 font-bold uppercase;
  }
}

.css-footer-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 4px;
  background: var(--color-orange);
}
body.menu-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--color-black-50);
  z-index: 40;
}

body.basket-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--color-black-50);
  z-index: 40;
}

body.menu-open header {
  position: sticky;
  top: 0;
  z-index: 50;
  pointer-events: auto;
}

/* Používanie \n v JSON */
.text-preline {
  white-space: pre-line;
}
